<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>491173101490-i7tbn13hd3a2sp2kmg43ekdanqg42m3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491173101490-i7tbn13hd3a2sp2kmg43ekdanqg42m3f</string>
	<key>API_KEY</key>
	<string>AIzaSyC1nI2vfJKs4mx_Mk3_CiKcawVvW-Pzpic</string>
	<key>GCM_SENDER_ID</key>
	<string>491173101490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>labs.Flock</string>
	<key>PROJECT_ID</key>
	<string>flock-b06d3</string>
	<key>STORAGE_BUCKET</key>
	<string>flock-b06d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:491173101490:ios:24a54071f89b3246</string>
	<key>DATABASE_URL</key>
	<string>https://flock-b06d3.firebaseio.com</string>
</dict>
</plist>